<h1>current_userの中身</h1>
<p>①ID：<%= @user.id %></p>
<p>②名前：<%= @user.name %></p>
<p>③メールアドレス：<%= @user.email %></p>
<p>④画像：<%= @user.image %></p>
<p>⑤作成日時：<%= @user.created_at %></p>
<p>⑥更新日時：<%= @user.updated_at %></p>

<h1>「<%= @user.name %>」のお気に入り一覧</h1>

<% @favorite_list.each do |favotite| %>
  <p>①投稿者:<%= favotite.user.name %></p>
  <p>②内容:<%= favotite.content %></p>
  <p>③画像:<%= favotite.image %></p>
  <br>
<% end %>

<%= link_to '投稿一覧', posts_path, class:"btn btn-primary" %>
